.wmre-content-tile {
  height: 100%;
  background-color: $white;
  box-shadow: 0 3px 6px 0 rgba($black, 0.16);

  &--normal {
    padding: $size-sm;
  }

  &__category {
    display: block;
    padding: $size-md;
    text-align: right;
  }

  &__copy {
    // Constraints for iframe
    iframe {
      width: 100%;
    }

    .wmre-link {
      position: absolute;
      right: $size-sm;
      bottom: $size-sm;
    }
  }

  &__list {
    padding: 0;
    list-style: none;
  }

  // One main link modifier
  &--with-one-link {
    position: relative;
    padding-bottom: $size-lg;
  }

  // Nav modifier
  &--nav {
    li {
      margin-top: $size-sm;
    }
  }

  // Yellow modifier
  &--yellow {
    background-color: get-color(plannedDisruption);
  }
}
