.wmre-breadcrumb {
  padding: $size-md 0;
  background: transparent;

  // outer list item (ol element)
  &__list {
    margin: 0;
    padding-left: 0;
    list-style: none;

    li {
      margin-bottom: 0;
    }
  }

  &__list-item {
    display: inline-block;

    // Put ">" before every list item other than first one
    &:not(:first-child)::before {
      content: ">";
      display: inline-block;
      color: get-color(primary);
      height: 1.2em;
      margin: 0 $size-xs;
    }
  }

  // Style a tag within breadcrumb
  &__link {
    color: get-color(text) !important;
    font-weight: normal;

    &--current {
      text-decoration: none !important;
    }

    &:hover {
      color: get-color(primary);
    }
  }

  // App specific breadcrumb styles
  &--mobile-app {
    display: none;

    @media screen and (min-width: $breakpoint-md) {
      display: block;
    }
  }
}
