{% extends "www/_layouts/layout-left-pane.njk" %}
{% set pageTitle = "Templates" %}
{% set section = "Templates" %}

{% block content %}
<p>Example templates that make up the main West Midlands Combined Authority Website</p>
{% endblock %}