{% macro wmrePageHeader(params) %} 
{% from "wmre/components/icon/_icon.njk" import wmreIcon %}
{% set text = params.text if params.text else "Page header" %}
{% set iconName = params.icon if params.icon else "" %}

<div class="wmre-page-header {% if(params.home) %} wmre-page-header__home {% endif %} {% if(params.topm) %} wmre-m-t-md {% endif %} {% if(params.large) %} wmre-page-header__large {% endif %}" style="background-image:url('https://www.wmca.org.uk/media/3415/wmca-bournville-131.jpg?anchor=center&mode=crop&width=2500&height=800&rnd=132122595620000000')">
  {% if(params.title) %}
  <div class="wmre-container wmre-page-header-container">
        <div class="wmre-page-header-box">
              {% if iconName !== "" %}
        {{ wmreIcon({
            icon: iconName,
            class: 'wmre-page-header__icon'
          }) | trim
        }}
      {% endif %}
         <h1>{{text}}</h1>
    </div>
  </div>
  {% endif %}
</div>
{% endmacro %}