{% extends "www/_layouts/layout-left-pane.njk" %}
{% set pageTitle = "Content Tiles" %}
{% from "www/_partials/component-example/component-example.njk" import compExample %}

{% block content %}
{# Content tile small 1 #}
{%- from "wmre/components/content-tiles/normal/_normal.njk" import wmreContentTilesNormal -%}
{%- from "wmre/components/content-tiles/cta/_cta.njk" import wmreContentTilesCta -%}
{%- from "wmre/components/content-tiles/news/_news.njk" import wmreContentTilesNews -%}

<h2>Normal</h2>
<h3>General </h3>
{{
  compExample([
    wmreContentTilesNormal({
      classModifiers: 'wmre-content-tile--normal',
      title: 'Tile Heading',
      copy: '<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>'
    })
  ])
}}

<h2>Homepage</h2>
<h3>Call To Action's</h3>
{{
  compExample([
    wmreContentTilesCta({
      classModifiers: 'wmre-content-tile--cta',
      category: 'Category',
      title: 'West Midlands Rail Investment Strategy',
      copy: '<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>',
      img: '$*cdn/img/tiles/card-1-image.svg'
    })
  ])
}}

<h2>General</h2>
<h3>News Articles</h3>
{{
  compExample([
    wmreContentTilesNews({
      classModifiers: 'wmre-content-tile--news',
      category: 'Category',
      title: 'West Midlands Rail Investment Strategy',
      copy: '<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>'
    })
  ])
}}

{% endblock %}