{% extends "www/_layouts/layout-left-pane.njk" %}
{% set pageTitle = "Content Tiles" %}
{% from "www/_partials/component-example/component-example.njk" import compExample %}

{% block content %}
{# Content tile small 1 #}
{%- from "wmre/components/content-tiles/normal/_normal.njk" import wmreContentTilesNormal -%}

<h2>Normal</h2>
<h3>General </h3>
{{
  compExample([
    wmreContentTilesNormal({
      copy: '<p>See all major roadworks and events. These could affect your journey, plan ahead.</p>'
    })
  ])
}}

<h3>General with one link</h3>
{{
  compExample([
    wmreContentTilesNormal({
      classModifiers: 'wmre-content-tile--with-one-link',
      copy: '<p>See all major roadworks and events. These could affect your journey, plan ahead.</p>',
      readMore: true
    })
  ])
}}

{% endblock %}