{% extends "www/_layouts/layout-left-pane.njk" %}
{% set pageTitle="Hub header" %}
{% from "wmre/components/hub-header/_hub-header.njk" import wmreHubHeader %}
{% from "www/_partials/component-example/component-example.njk" import compExample %}

{% block content %}

{# primary hub header #}
<h2>Primary hub header</h2>

{{
  compExample([
    wmreHubHeader({
      showSubtitle: true,
      icon: false
    })
  ],{iframe:false
  })
}}

{# primary hub header with icon #}
<h2>Primary hub header with Icon</h2>

{{
  compExample([
    wmreHubHeader({
      icon: true,
      showSubtitle: true
    })
  ],{iframe:false})
}}

{# primary hub header with image #}
<h2>Primary hub header with Image</h2>

{{
  compExample([
    wmreHubHeader({
      image: true,
      showSubtitle: true
    })
  ],{iframe:false})
}}

{# primary hub header without subtitle #}
<h2>Primary hub header without subtitle</h2>

{{
  compExample([
    wmreHubHeader({
      image: false
    })
  ],{iframe:false})
}}
{% endblock %} 