<!DOCTYPE html>
<html lang="en-gb" class="wmre-html">
  <!-- Head -->
  {% include "www/_partials/_head.njk" %}
  <!-- end: Head -->

  <body class="wmre-body">
    <!--[if IE]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and
        security.
      </p>
    <![endif]-->

    {# header #}
    {% from "wmre/patterns/header/_header.njk" import wmreHeader %}
    {{
      wmreHeader ({
        id: "mega-menu",
        navItems: navItems,
        banner: true,
        linkTopLevel: true,
        search: false,
        breadcrumbs: {
          section: section,
          pageTitle: pageTitle
        }
      })
    }}
    {# header #}

    {# main #}
    <main class="wmre-container wmre-container--main">
      {% block body %}{% endblock %}
    </main>
    {# main #}

    <!-- footer -->
    {% from "wmre/patterns/footer/_footer.njk" import wmreFooter %}
    {{
      wmreFooter({
        feedback: true,
        bottomMenu: [{
          name: "Privacy & Cookies Policy",
          link: "https://www.wmca.org.uk/policies"
        }]
      })
    }}
    <!-- footer -->

    <!-- Scripts -->
    {% include "www/_partials/_scripts.njk" %}
    <!-- end: Scripts -->
  </body>

</html>
