.template-programme {
  .partner {
    display: flex !important;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: $breakpoint-sm) {
      padding: 0 !important;
    }
  }
}
