{% macro wmreFeedbackLoop(params) %}

{# Imports of components #}
{% from "wmre/components/form-elements/checkboxes/_checkboxes.njk" import wmreCheckboxes %}
{% from "wmre/components/form-elements/input/_input.njk" import wmreInput %}
{% from "wmre/components/form-elements/textarea/_textarea.njk" import wmreTextarea %}
{% from "wmre/components/button/_button.njk" import wmreButton as primary %}

{# Set params #}
{% set isOpen = " wmre-is-open" if params.isOpen %}
{% set id = params.id if params.id else "feedback-loop" %} {# this is to pass unique id to this macro, to stop clashing of duplicate IDs with the preview page and the ACTUAL feedback loop in the footer #}



<div class="wmre-feedback-loop{{isOpen}}">
  <div class="wmre-container wmre-feedback-loop__questions">
    <div class="wmre-feedback-loop__useful">
      Is this page useful?

      <a href="#" title="link title" target="_self" class="wmre-link wmre-m-l-sm">Yes</a>
      <a href="#" title="link title" target="_self" class="wmre-link wmre-m-l-sm">No</a>
    </div>
    <div class="wmre-feedback-loop__wrong">
      <a href="#" title="link title" target="_self" class="wmre-link">Is there anything wrong with this page?</a>
    </div>
  </div>

  <form class="wmre-container wmre-feedback-loop__form wmre-grid">
    <div class="wmre-grid wmre-grid--align-center wmre-grid--justify-between">
      <legend class="wmre-col-auto wmre-m-none">Help us improve West Midlands Combined Authority</legend>
      <a  href="#" class="wmre-link wmre-col-auto wmre-m-l-md">Close</a>
    </div>
    <br>
    <div class="wmre-col-1 wmre-col-md-1-2">
      {{
        wmreTextarea({
          id: (id + '-textarea')
        }) | trim | indent(4)
      }}
    </div>
    <br><br>
    <div class="wmre-col-1 wmre-col-md-1-3">
      {{
        wmreInput({
          id: (id + '-input')
        }) | trim | indent(4)
      }}
    </div>
    <br><br>
    <div class="wmre-col-1">
      {{
        wmreCheckboxes() | trim | indent(4)
      }}
    </div>
    <br><br>
    {{
      primary({
        classNames: "wmre-btn",
        text: "Submit feedback"
      }) | trim | indent(4)
    }}
  </form>
</div>

{% endmacro %}