.wmre-page-contents {
  position: sticky;
  top: 0;
  margin-bottom: 30px;
  padding: 10px;
  border-bottom: 3px solid $black;
  background: $white;

  h3 {
    margin-top: 0;
    margin-bottom: 10px;
    color: get-color(cta);
    font-size: 23px;
    font-weight: bold;
    line-height: 24px;
  }

  div {
    margin-bottom: 10px;
    padding-left: 10px;
    border-left: 3px solid get-color(primary);
  }

  a {
    display: block;
    margin-bottom: 10px;
    text-overflow: ellipsis;
    white-space: wrap;
  }

  &--with-accordion {
    div {
      margin-bottom: 0;
      padding-left: 0;
      border-left: 0;
    }

    .current {
      margin-bottom: 10px;
      padding-left: 10px;
      border-left: 3px solid get-color(primary);
    }

    .wmre-accordion__summary-wrapper {
      padding-top: 0.5rem;
      padding-right: 0;
      padding-bottom: 0.5rem;

      .wmre-accordion__icon {
        width: 24px;
        height: 24px;
      }
    }

    .wmre-accordion__content {
      padding: 0;
    }

    ul {
      li {
        padding-left: $size-lg;

        &.current {
          padding-left: 30px;
        }
      }
    }
  }
}
