.wmre-content-tile {
  &--project {
    padding: $size-sm;
    color: get-color(text);

    h2 {
      margin: $size-sm 0;
      font-size: 1.5rem;
      line-height: 2rem;
    }

    .wmre-content-tile__copy {
      .vertical {
        display: inline;
        margin: 20px 9px;
        padding: 0;
        border-left: 2px solid get-color(primary);
      }
    }
  }
}
