.wmre-content-tile {
  &--cta {
    h2 {
      margin: $size-sm 0;
      font-size: 1.5rem;
      line-height: 2rem;
    }

    h2,
    .wmre-content-tile__copy {
      padding: 0 $size-lg 0 $size-lg;
      text-align: center;
    }

    a {
      display: table;
      margin: 0 auto;
    }
  }

}
