{% extends "www/_layouts/template-layout-fullwidth.njk" %} 
{% set pageTitle="Content Page Template" %} {% set section = "Templates" %} 
{# Imports #} 
{%- from "wmre/components/content-tiles/normal/_normal.njk" import wmreContentTilesNormal -%}
{% from "wmre/components/link/link/_link.njk" import wmreLink %}
{% from "wmre/components/inset-text/_inset-text.njk" import wmreInsetText %} 
{% from "wmre/components/icon/_icon.njk" import wmreIcon %}
{% from "wmre/components/content-card/_content-card.njk" import wmreContentCard %}
{% from "wmre/components/page-contents/_page-contents.njk" import wmrePageContents %}
{# Set array of tiles #} 
{% block content %} 

{# About the style guide #}
<div class="wmre-page-header wmre-m-b-lg">
  <img src="https://www.wmca.org.uk/media/3415/wmca-bournville-131.jpg?anchor=center&mode=crop&width=2500&height=800&rnd=132122595620000000" alt="header image"/>
</div>
<div class="wmre-container ">
<div class="wmre-grid">
  <div class="wmre-col-1 wmre-col-md-2-3">
    <h1 id="wmre-main-content">{{ pageTitle | safe}}</h1>
    <p>From 2018, we’re responsible for the region's Adult Education Budget (AEB).</p>
    <p>We target priority growth sectors from the Local Industrial Strategy. This improves skills and secure jobs in communities. It also helps to improve productivity in the region.</p>
    <h2>What the budget is</h2>
    <p>The budget helps residents and employers get the skills needed in the region. This helps people to get the jobs they need and increases the skills of current employees. It unlocks specialist training as well.</p> 
    <p>It also allows for more flexible and tailored learning programmes in the region. This helps people to take part in learning, build confidence and their wellbeing. It unlocks opportunities for more people.</p>
    <h2>Our challenges</h2>
    <p>We set out the challenges for the labour market in our Regional Skills Plan:</p>
    <p>High levels of unemployment in some parts of the region
    Poverty is growing for people who are working because of low wages
    Low skill levels with less people qualified to skill level 4, or no qualifications at all
    Employers struggle to find people with the skills they need</p>
    <p>We use the budget to help improve confidence and opportunities for residents. It helps business find staff with the skills they need too. </p>
  </div>
</div>
</div>
{% endblock %}
