{% macro wmreContentCard(params) %}
{# Set #}

{# Opening & closing tags #}
{% set tag = "a" if params.clickable else "div" %}
{% set attributes = " href=\"#\" target=\"_self\"" if params.clickable else "" %}
{% set title = params.title if params.title else "Lorem ipsum dolor sit amet" %} {# set title text #}
{% set eventTitle = params.eventTitle if params.eventTitle else "Event" %} {# set eventTitle text #}
{% set copy = params.copy if params.copy else "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua." %} {# set copy text #}
{% set eventCopy = params.eventCopy if params.eventCopy else "A short sentence explaining what this is, it can be 2 lines." %} {# set copy text #}


{# This macro checks if it's being called inside a {% call %} tag #}
{# It's an easier way to pass in larger html content  #}
<{{tag}}{{attributes | safe}} class="wmre-content-card{{"--blue" if params.isCta else "" }} {{"wmre-content-card--event" if params.isEvent else "" }} {{"wmre-content-card--news" if params.isNews else "" }} {{"wmre-css-grid-block--double" if params.isDoubleCard else "" }} ">
    {% if(params.src) %}
        <img 
        src="https://www.wmca.org.uk/media/3415/wmca-bournville-131.jpg{{"?anchor=center&mode=crop&width=920&height=300&rnd=132122595620000000" if params.isNewsFirst else "" }}{{"?anchor=center&mode=crop&width=480&height=357&rnd=132122595620000000" if params.isNewsSub else "" }}{{"?anchor=center&mode=crop&width=896&height=334&rnd=132122595620000000" if params.isSrcDefault else "" }}{{"?anchor=center&mode=crop&width=1500&height=393&rnd=132122595620000000" if params.isDoubleCard else "" }}{{"?anchor=center&mode=crop&width=600&height=334&rnd=132122595620000000" if params.isThirdCard else "" }}{{"?anchor=center&mode=crop&width=700&height=334&rnd=132122595620000000" if params.isDefault else "" }}" alt="content image">
    {% endif %}
    {% if(params.isCta) %}
        <div class="wmre-p-sm">
            <svg>
                <use xlink:href="#wmre-general-toolkit" href="#wmre-general-toolkit"></use>
            </svg>
            <h2>Lorem ipsum dolor sit amet</h2>
        </div>
    {% else %}
    {% if(params.isEvent) %}
        <div class="wmre-p-sm">
            <h3>{{eventTitle}}</h3>
            <p>24 January 2021</p>
            <p>{{eventCopy}}</p>
        </div>
    {% else %}
    {% if(params.isNews) %}
        <p>24 January 2021</p>
        <h3><a href="#">{{title}}</a></h3>
        <p>{{copy}}</p>
    {% else %}
        {%- if caller -%}
            {{ caller() }}
            {%- else -%}
            <div class="wmre-p-sm">
                <h3>{{title}}</h3>
                <p>{{copy}}</p>
            </div>
    {%- endif -%}
    {%- endif -%}
    {%- endif -%}
    {% endif %}
</{{tag}}>
{% endmacro %}
