$shadow: #d3d3d3;
$primary: #3cbfae;

.wmre-project-card {
  display: inline-block;
  width: 291px;
  height: 275px;
  background: $white;
  text-align: left;
  box-shadow: 0 2px 10px $shadow;

  img {
    width: 281px;
    height: 184px;
    margin: 5px;
    display: block;
    object-fit: cover;
  }

  h2 {
    color: $black;
    margin: 0 15px 5px;
    font-size: 20px;
    line-height: 25px;
    white-space: nowrap;
    width: 240px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  div {
    padding: 0 10px 20px;
  }

  span {
    color: $black;
    display: inline-block;
    font-size: 13px;
  }

  span:first-of-type {
    border-right: 2px solid $primary;
    padding-right: 15px;
    margin: 0 15px;
    line-height: 14px;
  }
}
