{% macro wmreProjectCard(params) %}
  <a class="wmre-project-card" href="">
      <img src="https://wmcadigital.github.io/wmre-design-system/img/news/news-card-train.png" alt="project title image">
      <h2>Project title</h2>
      <span>Coventry</span><span>In progress</span>
  </a>
{% endmacro %}