.wmre-header {
  display: block;
  padding: $size-md 0;
  background-color: get-color(bgHeader);
  text-align: left;

  // Skip link styling
  &__skip-link {
    display: block;
    position: absolute;
    width: 1px;
    height: 1px;
    padding: $size-md;
    clip: rect(0 0 0 0);
    color: $white;
    background-color: get-color(cta);

    &:visited {
      color: $white;
    }

    &:focus {
      position: static;
      width: auto;
      height: auto;
      clip: auto;
      box-shadow: none;
    }

    a {
      font-weight: bold;
    }
  }

  .logo {
    width: 160px;
    max-width: 160px;
    height: 49px;
    float: left;
  }

  nav > a {
    margin-left: 20px;
    color: $white;
    text-decoration: none;
  }

  // Title variant
  &__title {
    @include type-setting(3);
    margin-bottom: 0;
    color: $white;

    @media all and(min-width: $breakpoint-sm) {
      max-width: calc(100% - 200px); // Give some padding for the logos on the left
      margin: 0;
      text-align: right;
    }
  }

  // Nav links



  // App specific header styles
  &--mobile-app {
    .wmre-header__main-links {
      display: none;

      @media screen and(min-width: $breakpoint-md) {
        display: inline-block;
      }
    }

    .wmre-header__back-btn {
      @media screen and(min-width: $breakpoint-md) {
        display: none;
      }
    }
  }
}
