.wmre-related-links {
  text-align: left;
  width: 100%;
  display: inline-block;
  margin-bottom: 40px;
  cursor: pointer;

  > h2 {
    margin-top: 0;
    font-size: 18px;
    margin-bottom: 24px;
    line-height: 19px;
  }

  > a {
    display: block;
    border-bottom: 2px solid get-color(primary);
    height: 30px;
    margin-bottom: 10px;
    white-space: nowrap;
    text-decoration: none;
  }

  img {
    width: 15px;
    vertical-align: text-top;
  }

  span {
    width: calc(100% - 20px);
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
