{% macro wmreRelatedLinks(params) %}
<div class="wmre-related-links">
  
  {% if params %}
    <h2>Related documents</h2>
    <a class="link" download="">
      <img src="/img/download-icon.png" alt="">
      <span>Document 1</span>
    </a>
    <a class="link" download="">
      <img src="/img/download-icon.png" alt="">
      <span>Document 2</span>
    </a>
    <a class="link" download="">
      <img src="/img/download-icon.png" alt="">
      <span>Document 3</span>
    </a>
  {% else %}
    <h2>Related links</h2>
    <a class="link">
      <img src="/img/external-link-icon.png" alt="">
      <span>Link 1</span>
    </a>
    <a class="link">
      <img src="/img/external-link-icon.png" alt="">
      <span>Link 2</span>
    </a>
    <a class="link">
      <img src="/img/external-link-icon.png" alt="">
      <span>Link 3</span>
    </a>
  {% endif %}
</div>
{% endmacro %}