{% macro wmreShare(params) %}
<div class="wmre-share">  
  <h4>Share this story</h4>
  <img src="$*cdn/img/social/twitter-green-logo.png" alt="twitter" class="twitter-logo">
  <img src="$*cdn/img/social/linkedin-green-logo.png" alt="linkedin">
  <img src="$*cdn/img/social/email-green-logo.png" alt="email" class="email-logo">
</div>
{% endmacro %}