{% extends "www/_layouts/layout-left-pane.njk" %}
{% set pageTitle = "Team Bio" %}
{% from "www/_partials/component-example/component-example.njk" import compExample %}

{% block content %}
{# Content tile small 1 #}
{%- from "wmre/components/team-bio/_team-bio.njk" import wmreTeamBio -%}
{{
  compExample([
    wmreTeamBio()
  ])
}}

{% endblock %}