{% extends "www/_layouts/template-layout-fullwidth.njk" %}
{% set pageTitle="Homepage Template" %} {% set section = "Templates" %}
{% set section="Templates" %}
{# Imports #} 
{% from "wmre/components/page-header/_page-header.njk" import wmrePageHeader %}
{% from "wmre/components/link/link/_link.njk" import wmreLink %}
{% from "wmre/components/inset-text/_inset-text.njk" import wmreInsetText %} 
{% from "wmre/components/icon/_icon.njk" import wmreIcon %}
{% from "wmre/components/content-card/_content-card.njk" import wmreContentCard %}
{# Set array of tiles #} 
{% block content %} 

{# About the style guide #}
{{
    wmrePageHeader({
      title: true,
      text: "Building a healthier, happier, better connected and more prosperous West Midlands",
      home: true,
      topm: true
    })
}}
<div class="wmre-container wmre-m-t-lg homepage">
<div class="wmre-grid">
  <div class="wmre-col-md-1-2 wmre-p-r-lg">
    <a href="#"><h2>What is the Combined Authority?</h2></a>
    <p>Combined Authorites are set up to improve their region’s economies. We invest in the region through collaboration with our partners, but we don’t replace local councils.</p>
  </div>
  <div class="wmre-col-md-1-2">
    <a href="#"><h2>The Mayor</h2></a>
    <p>We’re led by the Mayor of the West Midlands. The current mayor is Andy Street, who is in office until May 2021.</p>
    <p>The Mayor chairs the wmre Board and acts as a voice for the region, nationally and globally.</p>
  </div>
</div>
<a href="#"><h2>What we do</h2></a>
<div class="wmre-grid what-we-do">
    <div class="wmre-col-1-2 wmre-col-sm-1-3 wmre-col-md-1-6">      
        <i class="fal fa-phone-laptop fa-3x" aria-hidden="true"></i>
        <a href="">Culture and Digital</a>
    </div>
    <div class="wmre-col-1-2 wmre-col-sm-1-3 wmre-col-md-1-6">      
        <svg>
            <use xlink:href="#wmre-general-search" href="#wmre-general-search"></use>
        </svg>
        <a href="">Economy and Innovation</a>
    </div>
    <div class="wmre-col-1-2 wmre-col-sm-1-3 wmre-col-md-1-6">      
        <svg>
            <use xlink:href="#wmre-general-search" href="#wmre-general-search"></use>
        </svg>
        <a href="">Environment</a>
    </div>
    <div class="wmre-col-1-2 wmre-col-sm-1-3 wmre-col-md-1-6">      
        <svg>
            <use xlink:href="#wmre-general-search" href="#wmre-general-search"></use>
        </svg>
        <a href="">Housing and Land</a>
    </div>
    <div class="wmre-col-1-2 wmre-col-sm-1-3 wmre-col-md-1-6">      
        <svg>
            <use xlink:href="#wmre-general-search" href="#wmre-general-search"></use>
        </svg>
        <a href="">Inclusive Communities</a>
    </div>
    <div class="wmre-col-1-2 wmre-col-sm-1-3 wmre-col-md-1-6">      
        <svg>
            <use xlink:href="#wmre-general-search" href="#wmre-general-search"></use>
        </svg>
        <a href="">Productivity and Skills</a>
    </div>
    <div class="wmre-col-1-2 wmre-col-sm-1-3 wmre-col-md-1-6">      
        <svg>
            <use xlink:href="#wmre-general-search" href="#wmre-general-search"></use>
        </svg>
        <a href="">Transport</a>
    </div>
    <div class="wmre-col-1-2 wmre-col-sm-1-3 wmre-col-md-1-6">      
        <svg>
            <use xlink:href="#wmre-general-search" href="#wmre-general-search"></use>
        </svg>
        <a href="">Wellbeing</a>
    </div>
</div>

<h2>Latest News</h2>
<div class="wmre-css-grid-4-col">
        {{
            wmreContentCard({
                src: true,
                title: 'wmre donates computers to school children to tackle digital divide',
                copy: '150 old staff laptops will be donated to Wowdot',
                isNews: true,
                isNewsSub: true
            })
        }}
        {{
            wmreContentCard({
                src: true,
                title: 'wmre donates computers to school children to tackle digital divide',
                copy: '150 old staff laptops will be donated to Wowdot',
                isNews: true,
                isNewsSub: true
            })
        }}
        {{
            wmreContentCard({
                src: true,
                title: 'Historic devolution agreement reached',
                copy: 'The Government will contribute 40 million over the next 30 years',
                isNews: true,
                isNewsSub: true
            })
        }}
        {{
            wmreContentCard({
                src: true,
                title: 'Historic devolution agreement reached',
                copy: 'The Government will contribute 40 million over the next 30 years',
                isNews: true,
                isNewsSub: true
            })
        }}
</div>
<a href="#" class="wmre-link wmre-m-t-lg wmre-m-b-xl see-more">See all news stories</a>

<div class="wmre-css-grid-2-col wmre-m-b-lg">
    {{
        wmreContentCard({
            src: true,
            isSrcDefault: true,
            title: 'Coronavirus support',
            copy: 'Get advice and support during the pandemic such as finding a new job and applying for business grants.',
            clickable: true
        })
    }}
    {{
        wmreContentCard({
            src: true,
            isSrcDefault: true,
            title: '2021 Mayoral election',
            copy: 'Find out what the Mayor is reponsible for and how to vote.',
            clickable: true
        })
    }}
</div>
<div class="wmre-css-grid-3-col">
    {{
        wmreContentCard({
            title: 'Upskill yourself in lockdown',
            copy: 'Find out what the Mayor is reponsible for and how to vote.',
            clickable: true
        })
    }}
    {{
        wmreContentCard({
            title: 'Thrive at Work',
            copy: 'Join our free workplace wellbeing scheme to keep staff healthy, motivated and productive.',
            clickable: true
        })
    }}
    {{
        wmreContentCard({
            title: 'Annual Plan 2021 - 2022',
            copy: 'We’ve set our ambitions for each of our priorities over the next year.',
            clickable: true
        })
    }}
</div>

<h2>Upcoming events</h2>
<div class="wmre-css-grid-3-col">
    {{
    wmreContentCard({
      eventTitle: 'Mayors Mentors',
      eventCopy: 'Find out about the Mayor’s Mentors scheme and how it can help you grow.',
      clickable: true,
      isEvent: true
    })
    }}
    {{
    wmreContentCard({
      eventTitle: 'Greater Birmingham LEP Skills Day',
      eventCopy: 'Hear from employers and training providers on upskilling opportunities available.',
      clickable: true,
      isEvent: true
    })
    }}
    {{
    wmreContentCard({
      eventTitle: 'Sprint exhibition - Walsall',
      eventCopy: 'Learn and ask questions about the upcoming Sprint works in the region.',
      clickable: true,
      isEvent: true
    })
    }}
</div>
<a href="#" class="wmre-link wmre-m-t-lg wmre-m-b-lg see-more">See all wmre events</a>

<div class="social">
 <h2>Social Media</h2>

    <div class="wmre-css-grid-3-col wmre-m-b-xl">
        <div>
            <h3>wmre twitter feed</h3><br />
            <a class="twitter-timeline" data-height="433" href="https://twitter.com/WestMids_CA?ref_src=twsrc%5Etfw">Tweets by WestMids_CA</a>
        </div>
        <div>
            <h3>Mayor of the West Midlands twitter feed</h3>
            <a class="twitter-timeline" data-height="433" href="https://twitter.com/MayorWestMids?ref_src=twsrc%5Etfw">Tweets by MayorWestMids</a>
        </div>
        <div>
            <h3>Follow us</h3><br />
            <ul class="wmre-bare-list">
                <li><a href="https://www.facebook.com/westmidlandsca" target="_blank">Facebook - @@WestMidsCA</a></li>
                <li><a href="https://twitter.com/WestMids_CA" target="_blank">Twitter - @@WestMidsCA</a></li>
                <li><a href="https://www.instagram.com/westmids_ca" target="_blank">Instagram - @@WestMidsCA</a></li>
                <li><a href="https://www.youtube.com/user/CentroNWM" target="_blank">YouTube</a></li>
                <li><a href="https://www.linkedin.com/company/westmidsca/" target="_blank">LinkedIn</a></li>
            </ul>
        </div>
    </div>
    </div>
</div>

<script async src="https://platform.twitter.com/widgets.js"></script>
{% endblock %}
