$shadow: #d3d3d3;
$primary: #3cbfae;

.wmre-station {
  display: inline-block;
  width: 291px;
  background: $white;
  text-align: left;
  box-shadow: 0 2px 10px $shadow;
  text-decoration: none;

  img {
    width: calc(100% - 10px);
    height: 184px;
    margin: 5px;
    display: block;
    object-fit: cover;
  }

  h2 {
    color: $black;
    margin: 5px;
    font-size: 20px;
    line-height: 25px;
    height: 70px;
  }
}
