{% extends "www/_layouts/template-layout-fullwidth.njk" %} 
{% set pageTitle="Search" %} {% set section = "Templates" %} 
{# Imports #} 
{% from "wmre/components/link/link/_link.njk" import wmreLink %}
{% from "wmre/components/icon/_icon.njk" import wmreIcon %}
{% from "wmre/components/page-contents/_page-contents.njk" import wmrePageContents %}
{% from "wmre/patterns/search/search-bar/_search-bar.njk" import wmreSearchbar %}
{% from "wmre/patterns/search/search-filter/_search-filter.njk" import wmreSearchFilter %}
{% from "wmre/patterns/search/sort/_sort.njk" import wmreSearchSort %}
{% from "wmre/patterns/search/pagination/_pagination.njk" import wmrePagination %}
{% from "wmre/components/breadcrumb/_breadcrumb.njk" import wmreBreadcrumb %}
{% from "wmre/patterns/search/search-result/_search-result.njk" import wmreSearchResult %}

{# Set array of tiles #} 
{% block content %}

<div class="template-search">
  <div class="wmre-container wmre-m-b-lg">
    <h1 id="wmre-main-content" class="wmre-hide-mobile">Search results</h1>
    <div class="wmre-col-1 wmre-col-md-2-3 wmre-p-r-xl">
     {{wmreSearchbar()}}
    </div>
  </div>
  <div class="wmre-container">
    <div class="wmre-grid">
      <div class="main wmre-col-1 wmre-col-md-2-3 wmre-m-b-xl wmre-p-r-lg">
        <p>Found <strong>20</strong> matching results</p>
        {{wmreSearchResult(
          {
            pageTitle: "HS2 Ltd",
            breadcrumbs: true,
            date: "Thursday 23 August 2018",
            excerpt: "High Speed Two (HS2) is the new railway that will be the backbone of Britain’s <strong>transport</strong> network. High Speed Two Limited (HS2 Ltd) is the company developing..."
          }
        )}}
        {{wmreSearchResult(
          {
            pageTitle: "Connectivity",
            breadcrumbs: true,
            date: "Thursday 23 August 2018",
            excerpt: "HS2 will place the West Midlands at the heart of the UK’s <strong>transport</strong> network, with two new stations in the region, the interchange at Solihull and the new Curzon Street..."
          }
        )}}
        {{wmreSearchResult(
          {
            pageTitle: "New transport system will be sprinting for success at Commonwealth Games",
            breadcrumbs: true,
            date: "Thursday 23 August 2018",
            excerpt: "Top athletes are not the only ones aiming to be in peak condition for the 2022 Commonwealth Games in Birmingham – the region’s <strong>transport</strong> system is also..."
          }
        )}}
        {{wmreSearchResult(
          {
            pageTitle: "Our Vision",
            breadcrumbs: true,
            date: "Thursday 23 August 2018",
            excerpt: "High Speed 2 (HS2) will have a truly transformational impact on the West Midlands. As well as the economic benefits of investment in high speed rail infrastructure..."
          }
        )}}
        {{wmreSearchResult(
          {
            pageTitle: "Network Resilience",
            breadcrumbs: true,
            date: "Thursday 23 August 2018",
            excerpt: "We are experiencing an unprecedented level of investment in bringing much needed improvements to the way that people and goods are able to move around the West..."
          }
        )}}

        {{wmrePagination({
          pageCount: 8,
          activePage: 1
        })}}
      </div>
      <aside class="wmre-col-1 wmre-col-md-1-3 wmre-m-b-lg">
      <hr class="wmre-hide-desktop">
       {{wmreSearchSort()}}
       {{wmreSearchFilter(
        {
          accordion: [{
            summaryTitle: "Topic",
              options: [
                "Tickets", "Transport", "Housing and Land", "Economy and Innovation", "Public Service Reform", "Digital and Culture", "Wellbeing", "Environment"
              ]
            },
            {
              summaryTitle: "Page type",
              options: [
                "News articles", "Other/Everything else", "Campaigns", "People’s stories", "Projects/programmes"
              ]
            },
            {
              summaryTitle: "Date",
              options: [
                "Added in the last week", "Added in the last month", "Added in the last year"
              ]
            }
          ]})
        }}
      </aside>
    </div>
  </div>
</div>
{% endblock %}
