// footer
.wmre-footer {
  padding: $size-lg;
  color: $white;
  background-color: get-color(bgFooter);

  &__link.wmre-link {
    color: $white;

    @media screen and(min-width: $breakpoint-md) {
      float: right;
    }
  }

  // App specific footer styles
  &--mobile-app {
    display: none;

    @media screen and(min-width: $breakpoint-md) {
      display: block;
    }
  }
}

footer {
  background: get-color(bgFooter);
}

.foot {
  padding-top: 50px;
  padding-bottom: 50px;
  color: $white;
  text-align: center;

  h2 {
    display: none;
    color: $white;
  }

  h3 {
    font-size: 18px;
  }

  .footer-box {
    display: inline-block;
    border-left: 1px solid get-color(primary);
    padding-left: 20px;
    vertical-align: top;
    width: 228px;
    text-align: left;
    margin-bottom: 20px;

    h3 {
      color: get-color(primary);
      margin-top: 0;
    }

    a {
      margin-bottom: 10px;
      display: inline-block;
      color: inherit;
      text-decoration: inherit;
    }
  }

  .follow-link {
    margin-bottom: 0 !important;
    margin-right: 20px;

    span {
      display: inline-block;
      position: relative;
      top: -15px;
    }
  }

  :nth-child(5) h3 {
    color: $white;
  }

  .copyright {
    text-align: right;
    padding-right: 30px;
  }
}

@media (max-width: 600px) {
  .foot {
    h2 {
      display: block;
      margin: 0 20px 40px;
    }

    .footer-box:nth-child(4) br,
    .footer-box:nth-child(5) {
      display: none;
    }
  }
}
