{% macro wmreFooter(params) %}
{% set appClass = " wmre-footer--mobile-app" if params.app else "" %}
{# Imports #}
{% from "wmre/patterns/feedback-loop/_feedback-loop.njk" import wmreFeedbackLoop %}
{% from "wmre/components/icon/_icon.njk" import wmreIcon %}

<footer>
  {% if params.feedback -%}
  <!-- Feedback loop -->
  {{
    wmreFeedbackLoop({
      id: params.feedbackId
    }) | trim | indent(4)
  }}
  <!-- End feedback loop -->
  {% endif -%}
  <div class="wmre-footer{{appClass}} wmre-footer--v2">
    <div class="wmre-container wmre-grid">
      <div class="wmre-col-1 wmre-col-md-1-3 wmre-col-lg-1-2">
        <h3 class="wmre-footer__statement">Driving a revolution in rail services for West Midlanders</h3>
      </div>
      {# loop through footer menus and get items #}
      {% if(params.menu1) %}
      {% set menu1Name = params.menu1.name | replace(r/[^\w\ ]/gi, '') | replace(' ', '-') | lower %}
        <div class="wmre-col-1 wmre-col-md-1-2 wmre-col-lg-1-3 wmre-p-r-lg">
          <h3 class="wmre-footer__heading wmre-collapse-heading" aria-controls="footer-menu-{{menu2Name}}" aria-expanded="true">
            {{params.menu1.name}}
            {{wmreIcon({class: 'wmre-collapse-heading__indicator', icon: 'general-chevron-right'}) | trim}}
          </h3>
          <ul class="wmre-footer__menu wmre-collapse-panel" id="footer-menu-{{menu2Name}}">
          {% for menuItem in params.menu1.menuItems-%}
            <li><a class="wmre-footer__link" href="#">{{menuItem.name}}</a></li>
          {% endfor -%}
          </ul>
        </div>
      {% endif %}
      {% if(params.menu2) %}
      {% set menu2Name = params.menu2.name | replace(r/[^\w\ ]/gi, '') | replace(' ', '-') | lower %}
        <div class="wmre-col-1 wmre-col-md-1-2 wmre-col-lg-1-3 wmre-p-r-lg">
          <h3 class="wmre-footer__heading wmre-collapse-heading" aria-controls="footer-menu-{{menu2Name}}" aria-expanded="true">
            {{params.menu2.name}}
            {{wmreIcon({class: 'wmre-collapse-heading__indicator', icon: 'general-chevron-right'}) | trim}}
          </h3>
          <ul class="wmre-footer__menu wmre-collapse-panel" id="footer-menu-{{menu2Name}}">
          {% for menuItem in params.menu2.menuItems-%}
            <li><a class="wmre-footer__link" href="#">{{menuItem.name}}</a></li>
          {% endfor -%}
          </ul>
        </div>
      {% endif %}
      {% if(params.social) %}
        <div class="wmre-col-1 wmre-col-lg-1-3">
          <h3 class="wmre-footer__heading">Social media</h3>
          <ul class="wmre-footer__social-media">
            <li><a href="https://twitter.com/WMRailExecutive" title="Twitter">{{wmreIcon({icon: 'social-twitter-hex'}) | trim}}</a></li>
            <li><a href="https://www.linkedin.com/company/west-midlands-rail" title="Follow us on Linkedin">{{wmreIcon({icon: 'social-linkedin-hex'}) | trim}}</a></li>
          </ul>
        </div>
      {% endif %}
      </div>
      <div class="wmre-container">
        <div class="wmre-footer__bottom wmre-grid">
          {% if params.bottomMenu -%}
          <div class="wmre-col-1 wmre-col-md-2-3 wmre-col-lg-1-2">
            <ul class="wmre-footer__bottom-menu">
              {# loop through bottom menu items #}
              {% for bottomMenuItem in params.bottomMenu -%}
              {% set bottomMenuLink = bottomMenuItem.link if bottomMenuItem.link else "" -%}
              <li><a class="wmre-footer__link" href="{{bottomMenuItem.link}}">{{bottomMenuItem.name}}</a></li>
              {% endfor -%}
            </ul>
          </div>
          {% endif -%}
          <div class="wmre-col-1 wmre-col-md-1-3 wmre-col-lg-1-2">
            <p class="wmre-footer__copyright">&copy; West Midlands Rail Executive 2021</p>
          </div>
        </div>
      </div>
  </div>
</footer>

{% endmacro %}