{% macro wmreContentTilesNews(params) %}
{# Imports #}
{%- from "wmre/components/link/link/_link.njk" import wmreLink -%}
{# Set vars #}
{% set class = ' ' + params.classModifiers if params.classModifiers %}
{% set title = params.title if params.title else "CTA Title" %} {# set title #}
{% set img = params.img if params.img else "$*cdn/img/news/news-card-train.png" %} {# set default img #}
{% set imgalt = params.imgalt if params.imgalt else "title of image" %} {# set default img alt tag #}

<a href="#" class="tile">
  <article class="wmre-col-1-3 wmre-content-tile{{class}}">
    <img src="{{ img }}" alt="{{ imgalt }}" />
    <img src="$*cdn/img/news/news-triangle.png" alt="{{ imgalt }}" class="wmre-content-tile--news__news-triangle" />
    <div class="wmre-content-tile--news__copy">
      <h2>All change at the top for the West Midlands Rail Executive</h2>
      <date>Thursday 04 April, 2019</date>
      <span>Category</span>
      <span class="wmre-link wmre-float-right">Read full article</span>
    </div>
  </article>
</a>

{% endmacro %}