.wmre-content-tile {
  &--news {
    height: 350px;
    padding-bottom: 15px;
    overflow: hidden;
    box-shadow: 0 3px 6px 0 $black, 0.16;

    &__news-triangle {
      max-width: 290px;
      height: 270px;
      margin-top: -175px;
      margin-left: -7px;
    }

    h2 {
      margin: $size-sm 0;
      font-size: 1.2rem;
      line-height: 1.5rem;
    }

    &__copy {
      position: relative;
      height: 100px;
      margin-top: -180px;
      padding: 0 15px;
      background: transparent;

      date {
        display: block;
        color: get-color(primary);
      }

      span {
        display: block;
      }
    }

    a {
      display: table;
      margin: 0 auto;
    }
  }
}

.wmre-content-tile--news:hover {
  .wmre-content-tile--news__news-triangle {
    height: 310px;
    margin-top: -280px;
  }

  .wmre-content-tile--news__copy {
    position: relative;
    margin-top: -230px;
  }
}
