.wmre-content-tile {
  &--news {
    position: relative;
    height: 350px;
    padding: 0;
    overflow: hidden;

    &__news-triangle {
      width: 100%;
      margin: -175px 0 0 0;
      padding: 0;
    }

    h2 {
      margin: $size-md 0;
      font-size: 1.2rem;
      line-height: 1.5rem;
    }

    &__copy {
      position: relative;
      margin-top: -180px;
      padding: 0 15px;
      background: transparent;

      date {
        display: block;
        color: get-color(primary);
      }

      span {
        display: block;
      }
    }

    a {
      display: table;
      margin: 0 auto;
    }
  }
}

.wmre-content-tile--news:hover {
  .wmre-content-tile--news__news-triangle {
    height: 310px;
    margin-top: -360px;
  }

  .wmre-content-tile--news__copy {
    position: relative;
    margin-top: -230px;
  }
}
