{% macro wmreRadios(params) %}

{# Imports #}
{% from "wmre/components/form-elements/label/_label.njk" import wmreLabel %}
{% from "wmre/components/icon/_icon.njk" import wmreIcon %}
{% from "wmre/components/form-elements/question/_question.njk" import wmreQuestion %}

<div class="wmre-fe-group">
  <fieldset class="wmre-fe-fieldset">
    <legend class="wmre-fe-fieldset__legend">
      {{ wmreQuestion() | indent(6) | trim }}
    </legend>
    <div class="wmre-fe-radios">
      <span class="wmre-fe-radios__desc">
        Select one option
      </span>
      {%- for i in range(1,4) %}
      {#- Set checked state on first item in loop #}
      {%- set isChecked = (' checked="checked"' | safe) if i === 1 %}
      <label class="wmre-fe-radios__container">
        Option {{i}}
        <input class="wmre-fe-radios__input" value="Option {{i}}"{{isChecked}} name="radio-example" type="radio"/>
        <span class="wmre-fe-radios__checkmark">
        </span>
      </label>
      {%- endfor %}
    </div>
  </fieldset>
</div>

{% endmacro %}