{# Uses the components: wmre-loader, wmre-icon #}

{% macro wmreAutocomplete(params) %}
{# Imports #}
{% from "wmre/components/icon/_icon.njk" import wmreIcon %}
{% from "wmre/components/form-elements/label/_label.njk" import wmreLabel %}
{# Params #}
{% set query = params.query if params.query else "" %} {# default to x15 as query text if one isn't available #}
{% set placeholder = params.placeholder if params.placeholder else "Tap to search" %}
{% set isLoading = " wmre-is--loading" if params.loading %}
{% set id = params.id if params.id else "genericInput" %}

{# Label #}
{{
  wmreLabel({
    for: id,
    label: 'Autocomplete label'
  }) | trim
}}

<div class="wmre-autocomplete wmre-grid{{isLoading}}">
  {% from "wmre/components/loader/_loader.njk" import wmreLoader %}
  {#- Get SVG icon and pass class -#}
  <!-- Search icon -->
  {{
    wmreIcon({
      icon: 'general-search',
      class: 'wmre-autocomplete__icon'
    }) | indent(2) | trim
  -}}

  {# Loading spinner #}
  {{
    wmreLoader() | indent(2) | trim
  }}
  <!-- Autocomplete input box -->
  <input class="wmre-fe-input wmre-autocomplete__input wmre-col-1" value="{{ query }}" placeholder="{{ placeholder }}" name="searchExample" aria-label="{{ placeholder }}"  type="text" id="{{id}}">
</div>

{#- If showSuggestions is true #}
{% if params.showSuggestions %}
<!-- Autocomplete suggestions -->
<ul class="wmre-autocomplete-suggestions">
{#- If textOnly suggestions -#}
{% if params.textSuggestions -%}
  {%- for i in range(1,4) %}
  <li class="wmre-autocomplete-suggestions__li" title="Search result {{i}}" tabindex="0">
    This is <strong>my query</strong> result {{i}}
  </li>
  {%- endfor %}
{% else -%}
  {# Disruption indicator suggestions #}
  {%- for i in range(1,6) %}
  <li class="wmre-autocomplete-suggestions__li wmre-grid" title="Good service on X15" tabindex="0">
    <div class="wmre-col-auto" >

    </div>
    <div class="wmre-col-1-2 wmre-col-sm-2-3">
      <strong>Oldbury to Dudley {{i}}</strong><br>and return journey
    </div>
  </li>
  {%- endfor %}
{% endif -%}
</ul>
{%- endif %}

{% endmacro %}