{% macro wmcadsPagination(params) %}

{# Imports #}
{% from "../../../components/breadcrumb/_breadcrumb.njk" import wmcadsBreadcrumb %}

<div class="wmcads-pagination wmcads-m-t-xl">
    <ol class="wmcads-pagination__nav">
    {% for i in range(1, params.pageCount + 1) -%}
    {% if(i == params.activePage - 1) %}
        <li class="wmcads-pagination__item wmcads-pagination__item--previous">
            <a class="wmcads-link" href="#">{{ i }}</a>
        </li>
    {% elseif(i == params.activePage) %}
        <li class="wmcads-pagination__item wmcads-pagination__item--active">
            {{ i }}
        </li>
    {% else %}
        <li class="wmcads-pagination__item">
            <a class="wmcads-link" href="#">{{ i }}</a>
        </li>
    {% endif %}
    {% endfor -%}
    </ol>
    {% if(params.activePage > 1) %}
    <a href="#" target="_self" class="wmcads-pagination__prev wmcads-link wmcads-link--with-chevron" >
        <svg class="wmcads-link__chevron wmcads-link__chevron--left">
            <use xlink:href="#wmcads-general-chevron-right" href="#wmcads-general-chevron-right"></use>
        </svg> Previous page
    </a>
    {% endif %}
    {% if(params.activePage < params.pageCount) %}
    <a href="#" target="_self" class="wmcads-pagination__next wmcads-link wmcads-link--with-chevron" >
        Next page <svg class="wmcads-link__chevron wmcads-link__chevron--right">
        <use xlink:href="#wmcads-general-chevron-right" href="#wmcads-general-chevron-right"></use>
        </svg>
    </a>
    {% endif %}
</div>

{% endmacro %}
