// Vars
@import "../wmre/assets/sass/vars";

// Mixins
@import "../wmre/assets/sass/mixins";

@import "_partials/component-example/component-example";

// Styleguide page specific styles
@import "pages/home";
@import "pages/styles/colour-palettes/colorPalette";
@import "pages/styles/icons/icons";

.wmre-website-inline-code {
  padding: $size-xs;
  color: get-color(primary);
  background: $white;
  @include type-setting(4);
}

// Fix gh-pages styling issues 
h1 {
  position: initial !important;
  left: 0 !important;
  width: 100% !important;
  margin: 0 0 50px 0 !important;
  font-size: 3rem !important;
  font-weight: 600 !important;
  letter-spacing: inherit !important;
  line-height: 3rem !important;
  text-shadow: none !important;
}

li {
  display: inline-block !important;
  width: initial !important;
  font-weight: bold;
}

.sub-nav {
  display: grid !important;
}
