    {% macro wmcadsSearchFilter(params) %}

{# Imports #}
{% from "wmcads/components/icon/_icon.njk" import wmcadsIcon %}

<!-- Mobile show filter button -->
<div class="wmcads-hide-desktop">
    <button class="wmcads-btn wmcads-btn--primary wmcads-btn--block " id="show_filter_btn" aria-controls="search_filter" aria-expanded="false">
        Filter your results
    </button>
</div>

<div id="search_filter" class="wmcads-search-filter">
    <div class="wmcads-search-filter__header">
        <h3 class="wmcads-search-filter__header-title">Filter</h3>
        <a href="#" class="wmcads-search-filter__clear-all wmcads-hide-desktop">Clear all</a>
        <a href="#" id="hide_filter_btn" class="wmcads-search-filter__close">
            <svg>
                <title>Close</title>
                <use xlink:href="#wmcads-general-cross" href="#wmcads-general-cross"></use>
            </svg>
        </a>
    </div>
    {# loop through accordion items #}
    {% for accordion in params.accordion -%}
    <div class="wmcads-accordion">
      <button aria-controls="accordion-{{accordion.summaryTitle}}" class="wmcads-accordion__summary-wrapper" aria-expanded="false">
        <!-- accordion summary -->
        <div class="wmcads-accordion__summary">
          <h4 class="wmcads-accordion__summary-title wmcads-m-b-none">{{accordion.summaryTitle}}</h4>
        </div>
        <!-- plus icon -->
        {{wmcadsIcon({class: 'wmcads-accordion__icon', icon: 'general-expand'}) | trim}}
        <!-- minus icon -->
        {{wmcadsIcon({class: 'wmcads-accordion__icon wmcads-accordion__icon--minimise', icon: 'general-minimise'}) | trim}}
      </button>
    
      <!-- accordion content -->
      <div class="wmcads-accordion__content" id="accordion-{{accordion.summaryTitle}}">
        <fieldset class="wmcads-fe-fieldset">
            <div class="wmcads-fe-checkboxes">
            {%- for option in accordion.options %}
                <label class="wmcads-fe-checkboxes__container">
                    {{option}}
                    <input class="wmcads-fe-checkboxes__input" value="{{option}}" type="checkbox"/>
                    <span class="wmcads-fe-checkboxes__checkmark">
                    {{wmcadsIcon({class: 'wmcads-fe-checkboxes__icon', icon: 'general-checkmark'}) | trim}}
                    </span>
                </label>
            {%- endfor %}
            </div>
        </fieldset>
      </div>
    </div>
    {% endfor -%}
    <div class="wmcads-search-filter__mobile-filter-update wmcads-hide-desktop">
        <button id="show_results_btn" class="wmcads-btn wmcads-btn--block">Show 80 results</button>
    </div>
    <a href="#" class="wmcads-search-filter__clear-all wmcads-hide-mobile">
        <svg>
            <title>Close</title>
            <use xlink:href="#wmcads-general-cross" href="#wmcads-general-cross"></use>
        </svg> Clear all filters
    </a>
</div>

{% endmacro %}
