{% macro wmreHubHeader(params) %}
{% set title = params.title if params.title else "Lorem ipsum dolor" %} {# set title text #}
{% set subtitle = params.copy if params.copy else "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua." %} {# set copy text #}

  <div class="wmre-hub-header">
      <div class="wmre-hub-header-left-pane"></div>
      <img class="banner" src="https://www.wmca.org.uk/media/3415/wmca-bournville-131.jpg?anchor=center&mode=crop&width=2500&height=800&rnd=132122595620000000" alt="page title"/>
      <div class="wmre-hub-header-text-pane">
          <h1 class="hub">{{title}}</h1>
          {% if params.showSubtitle === true -%}<p class="text">{{subtitle}}</p>{%- endif %}
          {% if(params.icon) %}
          <i class="fal fa-home-alt fa-3x" aria-hidden="true"></i>
      {% endif %}
      {% if(params.image) %}
          <img class="icon" alt="banner image" src="/img/examples/logos-mayor-of-the-west-midlands.png">
      {% endif %}
      </div>        
  </div>
{% endmacro %}