.wmre-hub-header {
  display: flex;
  position: relative;
  height: 230px;
  color: $white;
  background: get-color(primary);
  filter: grayscale(1);
  -webkit-filter: grayscale(1);

  @media (max-width: $breakpoint-md) {
    display: block;
    height: 100%;
  }

  img:not(.icon) {
    display: inline-block;
    width: 50%;
    height: 100%;
    object-fit: cover;

    @media (max-width: $breakpoint-md) {
      display: none;
    }
  }

  &-left-pane {
    display: inline-block;
    position: relative;
    width: 50%;
    height: 100%;

    @media (max-width: $breakpoint-md) {
      display: none;
    }

    &:after {
      content: "";
      display: inline-block;
      position: absolute;
      top: 59px;
      right: -66px;
      width: 110px;
      height: 110px;
      margin-right: 10px;
      transform: rotate(45deg) skew(25deg, 25deg);
      border-radius: 0 0 0 0;
      background-color: get-color(primary);

      @media (max-width: $breakpoint-md) {
        display: none;
      }
    }
  }

  &-text-pane {
    position: absolute;
    left: calc((100% - 955px)/ 2);
    max-width: 468px;
    overflow: auto;
    -ms-flex-item-align: center;
    align-self: center;

    @media (max-width: $breakpoint-lg) {
      left: $size-sm;
      padding: $size-md $size-xs;
    }

    @media (max-width: $breakpoint-md) {
      position: relative;
      width: 95%;
    }

    .icon {
      margin-bottom: 10px;
    }

    img {
      height: 34px;

      @media (max-width: $breakpoint-sm) {
        max-height: 34px;
      }
    }

    h1 {
      margin: 5px 0 10px;
      color: $white;
    }

    .text {
      max-width: 448px;
      margin: 10px 0 0;

      @media (max-width: $breakpoint-lg) {
        margin-right: 10px;
      }
    }
  }
}
  