{% macro wmreArticleCard(params) %}
  <a class="wmre-article-card">
      <img src="/img/news/news-card-train.png" alt="rail-programme">
      <div>
          <h2>All change at the top for the West Midlands Rail Executive</h2>
          <time>Thursday 04 April, 2019</time>
          <span>category</span>
          <div class="read">Read full article</div>
      </div>
  </a>
{% endmacro %}