.wmre-content-tile {
  &--team {
    position: relative;

    &--overlay {
      display: inline-block;
      position: absolute;
      height: 100%;
      transition: 0.5s ease;
      opacity: 0;
      background-color: get-color(secondary);

      &--text {
        padding: 0 40px 10px 40px;

        h2 {
          margin: 15px 0 0 0;
          color: $white;
          font-size: 1.2rem;
          text-align: center;
        }

        &__bio {
          margin: 0 0 15px 0;
          text-align: left;
        }

      }

      h4,
      p {
        padding-top: 10px;
        color: $white;
      }

      .job-title {
        margin: 0;
        padding: 0;
        color: get-color(primary);
        text-align: center;
      }

      &:hover {
        opacity: 1;
      }
    }

    &__copy {
      margin-top: -50px;
      padding: $size-md;
      text-align: center;

      h2 {
        font-size: 1.2rem;
      }

      span {
        color: get-color(primary);
      }
    }
  }
}
