{% extends "www/_layouts/layout-left-pane.njk" %}
{% set pageTitle="Links" %}
{% from "www/_partials/component-example/component-example.njk" import compExample %}

{% block content %}
{# About #}
<h2>About</h2>
<p>
  <strong>Buttons</strong> and <strong>links</strong> are items used to perform an action on a
  page
</p>
<p>
  It's important to know when to use a <strong>link</strong> or a
  <strong><a href="/components/buttons/">button</a></strong>
</p>
<p>
  <strong>Links</strong> should be used when a users action won’t affect the website at all,
  examples of these
  are:
</p>
<ul>
  <li>Certain call to actions</li>
  <li>Links to internal or external pages</li>
</ul>

<h3>What do the <strong>link</strong> attritubes mean?</h3>
<p>The <strong>href</strong> attritube is used to define the link address</p>
<p>The <strong>target</strong> attritube is used to define where to open the linked document.
  See below to find
  out more about the <strong>target</strong> attritube</p>
<p>The <strong>title</strong> attritube is used to define additional information about the
  link. It's useful for
  your users and accessibility. Try not to duplicate your link text- this hurts usability as
  hard of sight users
  using screen readers will here the same text twice.</p>

<p><strong>Target</strong> attritube values:</p>
<ul>
  <li><strong>_blank</strong>: Will load clicked link in a new window</li>
  <li><strong>_self</strong>: Will load clicked link in the same frame as it was clicked in
  </li>
  <li><strong>_parent</strong>: Will load clicked link in the parent frameset</li>
  <li><strong>_top</strong>: Will load clicked link in the full body of the window</li>
  <li><strong>framename</strong>: Will load clicked link in a named frame</li>
</ul>
<hr>
<br><br>


{# Default link #}
<h2>Default link</h2>
{# What #}
<h3>What does it do?</h3>
<ul>
  <li>Highlight that the word or phrase is different from other body text</li>
</ul>
{# When #}
<h3>When to use it?</h3>
<ul>
  <li>When the link is within text</li>
  <li>When the link is part of a list of links</li>
</ul>
{# When not #}
<h3>When not to use it?</h3>
<ul>
  <li>The start of a process</li>
  <li>When the link is a destructive action</li>
</ul>
{% from "wmre/components/link/link/_link.njk" import wmreLink %}
{{
  compExample([
    wmreLink()
  ])
}}
<br><br>


{# call to action button as link #}
<h2>Primary buttons</h2>
{# What #}
<h3>What does it do?</h3>
<ul>
  <li>Encourages the most desired action you want visitors to take.</li>
  <li>Attracts attention on the page.</li>
</ul>
{# When #}
<h3>When to use it?</h3>
<ul>
  <li>When you need a strong visual indicator to help user to complete their journey and do their task.</li>
  <li>When you need action oriented button. Think: 'Done', 'Save', 'Next', 'Submit'.</li>
</ul>
{# When not #}
<h3>When not to use it?</h3>
<ul>
  <li>What action you want users to take is not essential in completing their task.</li>
  <li>When a button is a destructive action.</li>
  <li>When a button starts a process or journey.</li>
</ul>

{%- from "wmre/components/link/as-button/_as-button.njk" import wmreLinkAsButton as cta %}
{{
  compExample([
    cta({
      text: "Call to action button",
      linkTitle: "This is a call to action link"
    })
  ])
}}
{# end: call to action button as link #}

{% endblock %}
