// Included the a tag too incase dev forgets to add .wmre-link class.
// The a:not([class*="wmre-"]) line makes sure we don't target any wmre components that are using the a tag such as a button as a link
// The a[class*="wmre-col-"] line is to orrived the above not line, as a wmre-col tag as an 'a' is fine to treat as normal tag
.wmre-link {
  @at-root a:not([class*="wmre-"]),
  & {
    display: inline-block;
    color: get-color(cta);
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;

    &:visited {
      color: get-color(cta-active);
    }

    &:hover {
      color: get-color(cta-active);
    }
  }

  h1,
  h2,
  h3 {
    color: get-color(cta);
  }

  &--with-chevron {
    display: inline-flex;

    // prevent icon resizing
    .wmre-link__chevron {
      flex: 0 0 1.5rem;
    }
  }

  &__chevron {
    width: 1.5rem;
    height: 1.5rem;
    fill: get-color(primary);

    &--left {
      margin-right: $size-xsm;
      transform: rotate(180deg);
    }

    &--right {
      margin-left: $size-xsm;
    }

    &--down {
      margin-left: $size-xsm;
      transform: rotate(90deg);
    }
  }
}

a {
  h1,
  h2,
  h3 {
    color: get-color(cta);
  }
}


// red more icon
.hvr-icon-hang {
  display: inline-block;
  transform: perspective(1px) translateZ(0);
  border: 0;
  color: get-color(secondary);
  background: none;
  vertical-align: middle;

  .hvr-icon {
    color: get-color(primary);
  }

}

.hvr-icon-hang[aria-expanded="false"] {
  &:after {
    content: attr(data-html-text);
    color: get-color(cta);
  }

  &:hover::after {
    color: get-color(cta-active);
  }
}

.hvr-icon-hang[aria-expanded="true"] {

  .hvr-icon {
    transform: rotate(270deg);
  }

  &:after {
    content: "View less";
  }
}

.collapse {
  display: block;
  max-height: 0;
  overflow: hidden;

  &.show {
    max-height: 99em;
  }
}
