{% macro wmreTeamBio(params) %}
  <div class="wmre-team-bio">
    <img class="bio-img" src="/img/empty-img.png" alt="default pic">
    <div class="details">
        <div class="name">Name Surname</div>
        <div class="title">Job title</div>
        <div class="info">is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</div>
        <img class="share" src="/img/social/twitter-green-logo.png" alt="twitter icon">
        <img class="share" src="/img/social/linkedin-green-logo.png" alt="linkedin icon">
    </div>
  </div>
{% endmacro %}